{% extends 'base.html' %}

{% block title %}
Your contracts
{% endblock %}

{% block content %}
<div class="contract">
    <h1>Your contracts:</h1>
    <ol>
        {% for object in object_list %}
            {% if object.profile_id.pk == user.id %}
                {% for key, value in value_dict.items %}
                    {% if key == object.id %}
                        <li> {{ object.car_id }}<br> {{ object.date_from }} - {{ object.date_to }} <br> Total amount: {{ value }}<br></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
    {% endfor %}
    </ol>
</div>
{% endblock %}
